:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --text: #e3e4f3;
  --background: #101223;
  --primary: #b7dc7f;
  --secondary: #101223;
  --accent: #3d4dd6;
}

* {
  font-family: JetBrains Mono;
}

hr {
  color: var(--primary);
}

body {
  font-weight: 400;
  background-color: var(--background);
}

button,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
  color: var(--text);
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5,
button {
  font-size: 1.333rem; /* 21.28px */
}

h6 {
  font-size: 0.75rem; /* 12px */
}
